@import "../../styles/theme";

.heading {
  font-size: $fontSizes-large;
  font-weight: 700;
  color: $colors-dark;
  text-shadow: 1px 1px 2px $colors-gray;
  position: relative;

  &:after {
    display: block;
    content: "";

    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);

    width: 50%;
    height: 2px;
    border-radius: 1px;
    background-color: $colors-gray;
  }
}
